Source: ros-jazzy-ds-dbw-joystick-demo
Section: misc
Priority: optional
Maintainer: Kevin Hallenbeck <khallenbeck@dataspeedinc.com>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake, ros-jazzy-ds-dbw-msgs, ros-jazzy-rclcpp, ros-jazzy-rclcpp-components, ros-jazzy-sensor-msgs, ros-jazzy-std-msgs, ros-jazzy-ros-workspace
Homepage: http://dataspeedinc.com
Standards-Version: 3.9.2

Package: ros-jazzy-ds-dbw-joystick-demo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-ds-dbw-can, ros-jazzy-ds-dbw-msgs, ros-jazzy-joy, ros-jazzy-rclcpp, ros-jazzy-rclcpp-components, ros-jazzy-sensor-msgs, ros-jazzy-std-msgs, ros-jazzy-ros-workspace
Description: Demonstration of drive-by-wire with joystick
